* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}

p {
    color: black;
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: .05rem;
}
ul{
    list-style: none;
}
.container {
    /* min-height: 80vh; */
    width: 100%;
    align-items: center;
    justify-content: center;
    padding:0 50px 0;
}
.header-background {
    background-image: url(./img/Banner_1005x115.png); background-repeat:no-repeat ;
}
.header-background table tbody tr td {
    height: 115px;
    padding-left: 50px;
    valign: bottom;
    align-item: right;
}
.logout {
    text-align:right;
    margin-bottom: 0;
}
.logout .Label {
    color: #FF3300;
    font-size: 12px;
    font-weight: bold;
}
.logout a {
    color:#FF3300;
    font-size: 12px;
    font-weight: bold;
}
#selectFont {
    font-size: 11px;
    width: 100px; 
    color: #000080;
}
.main-menu {
    height: 110px;
}
.out-menu .center {
    white-space: nowrap;
}
.menufontdhxd {
    color:#2C3E98;
    font-weight:bold;
}
